footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    padding: 10px;
}

.custom-footer-text {
    text-align: center;
}

/* .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
} */

body {
    background-color: transparent;
    background: linear-gradient(to bottom, rgba(51, 51, 51, 0.5), rgba(51, 51, 51, 0.5) 50%, rgba(51, 51, 51, 0.5) 75%);
    /*background: linear-gradient(#e66465, #9198e5);*/
}



main {
    margin-bottom: 16rem;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}