<div class="modal-dialog" style="width: 800px;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Crear Piloto</h4>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                    <label for="forename" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" id="forename" name="forename"
                        [(ngModel)]="newDriver.forename" required>
                </div>
                <div class="mb-3">
                    <label for="surname" class="form-label">Apellido:</label>
                    <input type="text" class="form-control" id="surname" name="surname" [(ngModel)]="newDriver.surname"
                        required>
                </div>
                <div class="mb-3">
                    <label for="number" class="form-label">Número:</label>
                    <input type="number" class="form-control" id="number" name="number" [(ngModel)]="newDriver.number"
                        required>
                </div>
                <div class="mb-3">
                    <label for="code" class="form-label">Prefijo:</label>
                    <input type="text" class="form-control" id="code" name="code" [(ngModel)]="newDriver.code" required>
                </div>
                <div class="mb-3">
                    <label for="dob" class="form-label">Fecha Nacimiento:</label>
                    <input type="date" class="form-control" id="dob" name="dob" [(ngModel)]="newDriver.dob" required>
                </div>
                <div class="mb-3">
                    <label for="nationality" class="form-label">Nacionalidad:</label>
                    <input type="text" class="form-control" id="nationality" name="nationality"
                        [(ngModel)]="newDriver.nationality" required>
                </div>
                <div class="mb-3">
                    <label for="url" class="form-label">URL:</label>
                    <input type="text" class="form-control" id="url" name="url" [(ngModel)]="newDriver.url" required>
                </div>
                <div class="mb-3">
                    <label for="driverRef" class="form-label">Codigo Referencia:</label>
                    <input type="text" class="form-control" id="driverRef" name="driverRef"
                        [(ngModel)]="newDriver.driverRef" required>
                </div>
                <button type="submit" class="btn btn-danger" (click)="createDriver()">Crear Piloto</button>
            </form>
        </div>
    </div>
</div>