footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    padding: 10px;
}

.custom-footer-text {
    text-align: center;
}

/* .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
} */

body {
    background-color: lightgray;
}

main {
    margin-bottom: 17em;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}