<!-- Barra de navegación -->

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">F1Core</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/" [translate]="'navbar.home'"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/Robepe/F1Core" [translate]="'navbar.about'"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" [translate]="'navbar.contact'"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Contenido del login -->
  <div class="container mt-5">
    <main>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header" [translate]="'navbar.signup'"></div>
            <div class="card-body">
              <div class="register-form">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <label [translate]="'signin.username'"></label>
                    <input
                      type="text"
                      formControlName="username"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
                    />
                    <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                      <div *ngIf="f['username'].errors['required']" [translate]="'signin.usernameRequired'"></div>
                      <div *ngIf="f['username'].errors['minlength']" [translate]="'signin.usernameMin'"></div>
                      <div *ngIf="f['username'].errors['maxlength']" [translate]="'signin.usernameMax'"></div>
                    </div>
                  </div>
              
                  <div class="form-group">
                    <label>Email</label>
                    <input
                      type="text"
                      formControlName="email"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                    />
                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                      <div *ngIf="f['email'].errors['required']" [translate]="'signin.emailRequired'"></div>
                      <div *ngIf="f['email'].errors['email']" [translate]="'signin.emailInvalid'"></div>
                    </div>
                  </div>
              
                  <div class="form-group">
                    <label [translate]="'signin.password'"></label>
                    <input
                      type="password"
                      formControlName="password"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
                    />
                    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                      <div *ngIf="f['password'].errors['required']" [translate]="'signin.passwordRequired'">Password is required</div>
                      <div *ngIf="f['password'].errors['minlength']" [translate]="'signin.passwordMin'"></div>
                      <div *ngIf="f['password'].errors['maxlength']" [translate]="'signin.passwordMax'"></div>
                    </div>
                  </div>
              
                  <div class="form-group">
                    <label [translate]="'signin.confirmPassword'"></label>
                    <input
                      type="password"
                      formControlName="confirmPassword"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
                    />
                    <div
                      *ngIf="submitted && f['confirmPassword'].errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f['confirmPassword'].errors['required']" [translate]="'signin.confirmPassword'"></div>
                      <div *ngIf="f['confirmPassword'].errors['matching']" [translate]="'signin.confUnmatch'"></div>
                    </div>
                  </div>
              
                  <div class="form-group">
                    <br/>
                    <button type="submit" class="btn btn-primary" [translate]="'signin.register'"></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

  <!-- Pie de página -->
  <footer class="py-4 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col text-start">
          <div ngbDropdown placement="top-end" class="d-inline-block">
            <button type="button" class="btn btn-secondary" id="dropdownBasic2" [translate]="'footer.language'"
              ngbDropdownToggle></button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
              <button ngbDropdownItem (click)="changeLanguage('en')" [translate]="'dropdown.english'"></button>
              <button ngbDropdownItem (click)="changeLanguage('es')" [translate]="'dropdown.spanish'"></button>
            </div>
          </div>
        </div>
        <div class="col text-center">
          <p [translate]="'footer.copyright'" class="custom-footer-text"></p>
        </div>
        <div class="col text-end">
          <a href="https://github.com/Robepe" target="_blank">
            <img src="assets/media/img/github-mark-white.svg" alt="GitHub" width="30" height="30">
          </a>
        </div>
      </div>
    </div>
  </footer>
</body>