<main class="py-5">
    <div class="container">
        <div class="row">
            <div class="card bg-dark">
                <div class="card-body text-light">
                    <h4 class="card-title">Countdown to next GP</h4>
                    <br/>
                    <h6 class="card-text">Formula 1 Gulf Air Bahrain Grand Prix 2024</h6>
                    <h6 class="card-text">Bahrain International Circuit</h6>
                    <h6 class="card-text">March 2nd</h6>
                    <br/>
                    <h3 class="card-text">{{ tiempoFormateado }}</h3>
                    <ngb-progressbar class="mb-3" type="danger" [value]="porcentajeRestante" [striped]="true" [animated]="true"/>
                    <!--<h4 class="card-title">Countdown to next GP</h4>
                    <br/>
                    <h6 class="card-text">{{nombre}} {{season}}</h6>
                    <h6 class="card-text">{{fechaObjetivo}}</h6>
                    <br/>
                    <h3 class="card-text">{{ tiempoFormateado }}</h3>
                    <ngb-progressbar class="mb-3" type="danger" [value]="porcentajeRestante" [striped]="true" [animated]="true"/>-->
                </div>
            </div>
        </div>
    </div>
</main>