<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="row w-100">
      <!-- Div vacío a la izquierda -->
      <div class="col-md-4"></div>

      <!-- Título centrado -->
      <div class="col-md-4 d-flex justify-content-center">
        <a class="navbar-brand" href="/layout/dashboard">F1Core</a>
      </div>

      <div class="col-md-4 text-right">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- 'Perfil' a la derecha -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <div ngbDropdown placement="bottom-end" class="d-inline-block">
            <button type="button" class="btn btn-outline-secondary dropdown-toggle" id="dropdownBasic2" ngbDropdownToggle>
              <img src="assets/media/icons/usuario2.png" alt="usuario" width="25" height="25">
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
              <button ngbDropdownItem> {{username}} </button>
              <button ngbDropdownItem (click)="logout()">Cerrar Sesión</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>